<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foundation Wallets</title>
</head>
<body style="background-color: black;">
<% for (let [address, label] of Object.entries(foundationMarketWallets)) { %>
    <p style="color: white; border: 1px solid black; box-shadow: 5px 7px 6px green; border-radius: 20px; width: 700px;margin: 50px;"><strong><%= label %></strong>: <%= address %></p>
<% } %>
</body>
</html>
