<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foundation Wallets</title>
</head>
<body>
<% for (let [address, label] of Object.entries(foundationMarketWallets)) { %>
    <p><%= label %>: <%= address %></p>
<% } %>
</body>
</html>
